<footer class="footer">
	<div class="menu menu--bottom">
	    <div class="wrapper wrapper--footer">
	    	<p class="copyright">
		    &copy; cruise Super 2015. Все права защищены.
		    </p>	
			<p class="author">
			Дизайн сайта - <a href="http://tailroom.ru">Tailroom Studio</a>
			</p>
		    <div class="socials--bottom">
		    	<ul class="socials-list--bottom">
					<li class="socials-list__item"><a href="#" class="socials-list__link vkontakte"></a></li>
					<li class="socials-list__item"><a href="#" class="socials-list__link facebook"></a></li>
					<li class="socials-list__item"><a href="#" class="socials-list__link twitter"></a></li>
					<li class="socials-list__item"><a href="#" class="socials-list__link instagram"></a></li>
					<li class="socials-list__item"><a href="#" class="socials-list__link odnoklassniki"></a></li>
			    </ul>
		    </div>
		    <p class="email-address">
		    cruisesuper<span class="dog">&#64</span><span>gmail.com</span>
		    </p>
		</div>		
	</div>
</footer>