<div class="container">
	<div class="wrapper">
	<header class="header">	
		<div class="logo header__item">
		    <a href="#" class="logo__link"><img src="img/logo.png" alt="logo"></a>			
		</div>
		<div class="site-search header__item">
		    <form action="get">
		    	<input type="search" name="search" placeholder="Поиск по сайту...">
		    	<input type="submit" value="">
		    </form>
		</div>
		<div class="socials header__item">
			<ul class="socials-list">
				<li class="socials-list__item"><a href="#" class="socials-list__link vkontakte"></a></li>
				<li class="socials-list__item"><a href="#" class="socials-list__link facebook"></a></li>
				<li class="socials-list__item"><a href="#" class="socials-list__link twitter"></a></li>
				<li class="socials-list__item"><a href="#" class="socials-list__link instagram"></a></li>
				<li class="socials-list__item"><a href="#" class="socials-list__link odnoklassniki"></a></li>
			</ul>
			<p class="email">cruisesuper@<span>gmail.com</span></p>
		</div>
    </header>
</div>
</div>
<nav class="menu menu--top" id="menu">
    <input type="checkbox" id="showmenu"/>
	<label for="showmenu" class="showmenu">&#9776;</label>    
    <ul class="list-links">
        <li class="list-links__item"><a class="list-links__link" href="#">Главная</a></li>
        <li class="list-links__item"><a class="list-links__link" href="#">как купить круиз </a></li>
        <li class="list-links__item"><a class="active list-links__link" href="#">Гарантии</a></li>
        <li class="list-links__item"><a class="list-links__link" href="#">Спецпредложения </a></li>
        <li class="list-links__item"><a class="list-links__link" href="#">Интересно </a></li>
        <li class="list-links__item"><a class="list-links__link" href="#">Отзывы</a></li>
        <li class="list-links__item"><a class="list-links__link" href="#">Обо мне </a></li>
        <li class="list-links__item"><a class="list-links__link" href="#">Контакты</a></li>
    </ul>
</nav>            


                
