@media only screen and (min-width: 768px) and (max-width: 940px)  {

    header.header {         
        height: 230px;       
        justify-content: flex-start;
        flex-wrap: wrap;
        position: relative;            
            .logo {
                width: 40%;
                margin-top: 60px;
            }
            .site-search {
                width: 45%;
                position: absolute;
                top: -20px;
                right: 2.5%;
            }
            .socials {  
                width: 37%;              
                position: absolute;
                top: 70px;
                right: 5.3%;
            }
    }
    .list-links .list-links__item {
        font-size: 12px;
    }  
    .subscribe-news::before,
    .subscribe-news::after {
        display: none;
    }
    .subscribe-news {
	    form { 
	        width: 92.45%;
	            label {
	                font-size: 14px;
	            }
		        input:not(:last-child) {
		            width: 25%;
		        }
		        input[type="submit"] {
		            right: 1%;
		            margin-right: -10px;
		        }
	    }
	}
	.reasons-list {
			.reasons-list__item {
		    width: 40%;
		    }	
    }
	.menu--bottom {
	    height: 78px;
	    position: relative;
	        p.email-address {
	            font-size: 16px;
	            position: absolute;
	            bottom: 18px;
	            left: 3.8%;
	        }
	        p.copyright {
	            font-size: 12px;
	        }
	}
}