.jcarousel,
.jcarousel1 {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.jcarousel ul,
.jcarousel1 ul {
    width: 20000em;
    position: relative;    
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li,
.jcarousel1 li {    
    float: left;
}